{% extends 'base.html' %}
{% load static %}
{% block title %} بدايات {% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %} ">الرئيسية</a> </li>
    <li><a href="#">بدايات</a></li>
{% endblock %}

{% block content %}
<div class="sweet">
    <h2>بدايات</h2>
    <section>
        <div class="row">
            <div class="col-6">
                <p>تعود صناعة الحلويات الدمشقية إلى القرن التاسع عشر، حيث كانت تحتوي على 4 أو 5 أنواع وكانت مرتبطة بمطبخ إعداد وجبات الطعام. يقول مدير شركة الوسام لصناعة الحلويات علاء عدس لـ«البيان»: «صناعة الحلويات في سوريا صناعة عريقة تتميز بمذاقها اللذيذ جمال مظهرها»، مشيراً إلى أن «هذه الحلويات معروفة وذات شهرة عالمية».</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/البلورية.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>ولدينا أيدٍ عاملة ماهرة وحرفية في هذه الصناعة، وللحصول على كيلو غرام واحد من القشطة نحتاج إلى 10 كيلوغرامات من الحليب، بينما في باقي الدول يتم الاعتماد على حليب الصناعي (البوردة) للحصول على القشطة».</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/المعمول.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>وأشار العدس إلى أن «جو المنافسة في صناعة الحلويات في دمشق، لعب دوراً كبيراً في تطور هذه المهنة، وازدياد عدد أصناف الحلويات».</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/2.jfif' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>ويضم المطبخ الدمشقي حالياً العشرات من أصناف الحلويات أهمها: المبرومة، الآسية، كول وشكور، البلورية، النمورة، كنافة بالمكسرات، عش البلبل، أصابع كاجو، معمول جوز وفستق ونارنج وتين وورد ومشمش، الغريبة، البرازق، وربات قشطة وجوز، نهش، مغشوشة، معروك وغيرها.</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/المعمول.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    </div>
{% endblock %}