{% extends 'base.html' %}
{% load static %}
{% block title %} حلويات موسمية {% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %} ">الرئيسية</a> </li>
    <li><a href="#">حلويات موسمية</a></li>
{% endblock %}

{% block content %}
<div class="sweet">
    <h2>حلويات موسمية</h2>
    <section>
        <div class="row">
            <div class="col-6">
                <p>استهلاك الحلويات الدمشقية، بحسب العدس، يختلف من فصل لآخر، ففي حين يكثر الإقبال على أصناف محددة في الشتاء كالتي تحتوي على مادة القطر (خليط من الماء والسكر وعصير الليمون وماء الزهر)، فإن هناك أصنافاً أخرى يقبل عليها المواطنون في الصيف كالبوظة الدمشقية وغيرها.</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/5.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>والناعم مزيج من الطحين والماء والزيت، وهي المكونات الأساسية لهذه الأكلة، ويوضع في الزيت المغلي على شكل أرغفة، وما إن تصبح هذه الأرغفة مقرمشة حتى يتم وضعها جانباً، وتزين بدبس العنب أو التمر، الذي يمنح الأكلة نكهة محبّبة.</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/3.jfif' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>كما يتم الإقبال في رمضان على المعروك، وهو نوع من المعجنات التي تحشى بالتمر، أو السكر، أو جوز الهند، أو الزبيب أو الفواكه أو الشوكولا، وبعضها يباع دون أي حشوة وإنما يغلف فقط بالسكر أو السمسم.</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/البلورية.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    </div>
{% endblock %}
