{% extends 'base.html' %}
{% load static %}
{% block title %} تضرر {% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'home' %} ">الرئيسية</a> </li>
    <li><a href="#">تضرر</a></li>
{% endblock %}

{% block content %}
<div class="sweet">
    <h2>تضرر</h2>
    <section>
        <div class="row">
            <div class="col-6">
                <p>تأثرت صناعة الحلويات في سوريا كثيراً من الأزمة، حيث انعكس ذلك من خلال ارتفاع أسعار المواد الأولية، ما انعكس على تدني حركة الشراء، إضافة إلى هجرة اليد العاملة في هذا المجال، وإغلاق الكثير من المحلات.</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/6.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>وقال العدس: إن الأزمة أثرت بشدة في صناعة الحلويات وهناك أصحاب المحلات ذات الرأسمال القليل تعرضوا لخسائر، وقاموا بإغلاق محلاتهم، فيما قام البعض الآخر بخفض الأنواع التي ينتجها، واعتمد على أصناف محددة.</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/3.jfif' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6">
                <p>وأشار العدس إلى أن «الأزمة التي سببتها جائحة «كورونا» كبدتنا في العام الماضي خسائر مهولة، وقليلون هم من استطاعوا أن يتحملوا مثل هذه الخسائر المادية، واستمروا في هذا المجال، علماً بأن المنشآت التي تقدم الأطعمة كانت مستثناة من الإغلاق في فترة الحظر التام، إلا أن العديد من المواطنين فقدوا أعمالهم أو توقفوا لفترة من الزمن، ما أدى إلى عدم وجود فائض مادي لديهم لشراء الحلويات».</p>
            </div>
            <div class="col-6">
                <img src="{%static 'img/البلورية.jpg' %}" width="100%" height="300px"/>
            </div>
        </div>
    </section>
    </div>
{% endblock %}
